:root {
    --primary           : #ED6F35;
    --primary-rgb       : rgb(237, 111, 53);
    --primary-rgb-vals  : 209, 110, 69;
    --secondary         : #2E4398;
    --secondary-rgb     : rgb(46, 67, 152);
    --secondary-rgb-vals: 46, 67, 152;
    --blue              : #3a6ed3;
    --green             : #39bf13;
    --black             : #232628;
    --white             : #f5f5f5;
    --grey-x-light      : #cdcdcd;
    --grey-light        : #888888;
    --grey-dark         : #676767;
    --red               : #ea0c0c;
    --max-width         : 1140px;
    --nav-height        : 64px;
    --primary-font      : 'Montserrat', sans-serif;
    --general-padding   : 1rem;
}

*,
*:before,
*:after {
    box-sizing : border-box;
    font-family: var(--primary-font);
}

html,
body {
    scroll-behavior: smooth;
    overflow-x     : hidden;
    max-width      : 100vw;
}

body {
    margin                 : 0;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color       : var(--grey-x-light);
}

#login-form-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

section {
    background-color: var(--white);
}

a {
    color          : var(--primary);
    text-decoration: none;
    transition     : color 0.3s;
}

a:hover {
    color: var(--secondary);
}

a:focus:not(header a) {
    color: var(--white);
}

svg {
    width : 12px;
    height: auto;
}

input {
    width        : 100%;
    height       : 40px;
    border       : none;
    border-radius: 2px;
    background   : var(--white);
    color        : var(--black);
    font-weight  : 600;
    padding      : 8px;
}

select {
    width        : 100%;
    height       : 40px;
    padding      : 0 8px;
    font-weight  : 500;
    border       : none;
    border-radius: 2px;
}

#not-found-container {
    position        : fixed;
    display         : flex;
    background-color: var(--primary);
    top             : 0;
    left            : 0;
    height          : 100vh;
    width           : 100vw;
    color           : var(--white);
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    padding         : 24px;
}

#not-found-container h1 {
    font-weight: bold;
    font-size  : 200px;
    margin     : 0;
}

#not-found-container h2 {
    margin   : 0;
    font-size: 48px;
}

#not-found-container p {
    font-size: 24px;
}

#not-found-container a {
    color: var(--secondary);
}

#back-link {
    cursor: pointer;
}

#nav {
    display      : flex;
    position     : fixed;
    top          : 0;
    background   : var(--white);
    width        : 100%;
    box-shadow   : 0 0 12px 0 #7171718f;
    padding      : 12px;
    height       : var(--nav-height);
    z-index      : 100;
    border-bottom: solid 1px var(--primary);
}

#nav>a {
    width: calc(var(--nav-height) - 24px);
}

#nav>a img {
    height: 100%;
    width : 100%;
}

#nav>span {
    color      : var(--primary);
    margin     : auto 0 auto 12px;
    font-weight: 700;
}

#nav>h1 {
    margin: auto;
}

#ham-btn {
    margin-left: auto;
    width      : 40px;
    cursor     : pointer;
    color      : var(--primary);
    transition : color ease 0.4s;
}

#ham-btn:hover {
    color: var(--grey-light);
}

#nav:has(>h1) #ham-btn {
    margin: 0;
}

#ham-menu {
    display                  : flex;
    flex-direction           : column;
    position                 : absolute;
    background-color         : var(--white);
    right                    : -250px;
    top                      : 48px;
    padding                  : 24px;
    gap                      : 4px;
    transition               : all ease 0.5s;
    border-bottom-left-radius: 8px;
    border                   : solid 1px var(--primary);
    border-right             : 0;
    border-top               : 0;
}

#ham-menu.viewing {
    right: 0;
}

#ham-menu li {
    list-style-type: none;
}

#ham-menu a {
    display         : flex;
    align-items     : center;
    gap             : 12px;
    padding         : 8px;
    border-radius   : 4px;
    color           : var(--primary);
    background-color: var(--white);
    transition      : color ease 0.4s, background-color ease 0.4s;
}

#ham-menu a:hover {
    color           : var(--white);
    background-color: var(--primary);
}

#ham-menu a svg {
    width: 24px;
}

#ham-menu hr {
    width        : 100%;
    border       : solid 2px var(--grey-x-light);
    border-bottom: none;
    border-radius: 2px;
}

.img-input {
    display: none;
}

.continue-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: var(--primary);
    color           : var(--white);
    border          : solid 2px var(--primary);
    font-weight     : 700;
    cursor          : pointer;
    height          : 48px;
    transition      : color 0.3s, background-color 0.3s, border-color 0.3s;
    width           : 100%;
    border-radius   : 6px;
    font-size       : 16px;
}

.continue-btn.disabled {
    background-color: var(--grey-x-light);
    border-color    : var(--grey-x-light);
    cursor          : not-allowed;
}

.continue-btn.cancel {
    background-color: var(--grey-x-light);
    color           : var(--black);
    border-color    : transparent;
}

.continue-btn.success {
    background-color: var(--green);
    border-color    : var(--green);
}

.continue-btn.danger {
    background-color: var(--red);
    border-color    : var(--red);
}

.continue-btn.other {
    background-color: var(--blue);
    border-color    : var(--blue);
}

.continue-btn:not(.disabled):not(.cancel):hover {
    background-color: var(--white);
    color           : var(--primary);
}

.continue-btn.success:hover {
    color: var(--green) !important;
}

.continue-btn.danger:hover {
    color: var(--red) !important;
}

.continue-btn.other:hover {
    color: var(--blue) !important;
}

.input-container.sconce-img-container,
.input-container.img-container,
.input-container.cutout-img-container {
    flex-direction: column;
    padding-bottom: 24px;
    border-bottom : solid 1px var(--grey-x-light);
    margin-bottom : 24px;
}

.input-container.img-container:not(:has(img)) .carousel {
    display: none;
}

.input-container.sconce-img-container:not(:has(img)) .sconce-preview-container::before,
.input-container.img-container:not(:has(img)) .img-preview-container::before,
.input-container.cutout-img-container:not(:has(img)) .cutout-preview-container::before {
    content: "Images will preview here.";
}

.sconce-preview-container,
.img-preview-container,
.cutout-preview-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    min-height     : 100px;
    max-width      : 300px;
    margin-bottom  : 12px;
}

.sconce-preview-container img,
.img-preview-container img,
.cutout-preview-container img {
    width     : 100%;
    object-fit: contain;
    height    : auto;
}

#drop-alert {
    position       : absolute;
    top            : -1px;
    left           : -1px;
    width          : calc(100% + 2px);
    height         : calc(100% + 2px);
    z-index        : 10;
    border         : solid 4px var(--primary);
    border-radius  : 5px;
    background     : #e4e4e4f5;
    align-items    : center;
    justify-content: center;
    font-size      : 38px;
    display        : none;
}

#drop-alert.showing {
    display: flex;
}

#login-form {
    display       : flex;
    flex-direction: column;
    width         : 500px;
    margin        : auto;
    background    : var(--white);
    border-radius : 8px;
    position      : relative;
    align-items   : center;
    min-height    : 340px;
    padding       : 32px;
    box-shadow    : 0 0 13px 0 #9b9b9b;
}

#login-form>div:first-child {
    display         : flex;
    box-shadow      : 0 0 13px 0 #9b9b9b;
    border-radius   : 50px;
    padding         : 12px;
    margin          : auto;
    position        : absolute;
    top             : -51px;
    height          : 100px;
    width           : 100px;
    background-color: var(--white);
}

#login-form>div:first-child img {
    width: 100%;
}

.mutiple-input-container {
    display: flex;
    gap    : 30px;
}

.input-container {
    display    : flex;
    align-items: center;
    gap        : 12px;
    width      : 100%;
    position   : relative;
}

.input-container * {
    margin: 0;
}

.input-container input,
.input-container textarea {
    border: solid 2px transparent;
}

.input-container textarea {
    width        : 100%;
    resize       : vertical;
    height       : 102px;
    background   : #f5f5f5;
    border-radius: 4px;
    padding      : 8px;
}

.input-container input.error {
    border-color: var(--red);
}

.input-container input:not(.error).success {
    border-color: forestgreen;
}

table .sconce-thumb-td div {
    width : 100px;
    height: 100px;
}

table .sconce-thumb-td div img,
table .one-of-a-kind-thumb-td div img,
table .cutout-thumb-td div img {
    object-fit     : contain;
    object-position: center;
    height         : 100%;
    width          : 100%;
    max-width      : 200px;
}

span.err-msg {
    color      : var(--red);
    font-weight: 600;
}

#login-form>span.err-msg {
    margin-top: 32px;
}

#login-form>div:first-child+.input-container,
#login-form>span.err-msg+.input-container {
    margin-top: auto !important;
}

#login-form .input-container:last-of-type {
    margin: 24px 0 52px;
}

#login-form input {
    background-color: var(--grey-x-light);
}

#dashboard-container {
    min-height : 100vh;
    padding    : calc(var(--nav-height) * 2) 32px var(--nav-height);
    align-items: center;
    display    : flex;
}

#dashboard-main {
    width                : max-content;
    max-width            : 1200px;
    grid-gap             : 48px;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    margin               : auto;
}

#dashboard-main a {
    width           : 200px;
    height          : 200px;
    background-color: var(--white);
    border-radius   : 8px;
    border          : solid 1px var(--primary);
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-weight     : 600;
    font-size       : 18px;
    text-align      : center;
    box-shadow      : 0 0 0 0 #7373739c;
    flex-direction  : column;
    gap             : 8px;
    margin          : auto;
    transform       : scale(1);
    transition      :
        color ease 0.4s,
        transform ease 0.4s,
        box-shadow ease 0.4s,
        background-color ease 0.4s;
}

#dashboard-main a:hover {
    background-color: var(--primary);
    color           : var(--grey-x-light);
    box-shadow      : 0 0 12px 0 #7373739c;
    transform       : scale(1.025);
}

#dashboard-main a svg {
    width: 72px;
}

main {
    height : 100vh;
    padding: calc(var(--nav-height) * 2) 32px var(--nav-height);
}

.table-wrapper {
    background   : var(--white);
    padding      : 12px;
    border       : solid 1px var(--primary);
    border-radius: 4px;
}

.create-btn {
    width  : max-content;
    gap    : 8px;
    height : fit-content;
    padding: 8px;
}

.create-btn svg {
    width: 24px;
}

.modal {
    top            : 0;
    left           : 0;
    position       : fixed;
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    transition     : opacity ease 0.4s;
    opacity        : 0;
    pointer-events : none;
    z-index        : 100;
    overflow-y     : auto;
    padding        : 32px;
    backdrop-filter: blur(2px);
}

.modal.showing {
    opacity       : 1;
    pointer-events: all;
}

.modal-dialog {
    width : max-content;
    height: fit-content;
    margin: auto;
}

.modal-content {
    min-height   : 200px;
    min-width    : 200px;
    width        : 620px;
    border       : solid 1px var(--primary);
    border-radius: 8px;
    background   : #fff;
    color        : #000;
    box-shadow   : 0 0 21px 17px #31313124;
    padding      : 12px;
    position     : relative;
}

.modal-header {
    position       : relative;
    display        : flex;
    justify-content: center;
    padding        : 18px 0;
    border-bottom  : solid 1px #d3d3d3;
    align-items    : center;
    flex-direction : column;
}

.modal-header h1 {
    display    : flex;
    align-items: center;
    margin     : 0;
}

.modal-options {
    position       : absolute;
    right          : 0;
    line-height    : 0.5;
    font-size      : 35px;
    top            : 0;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    padding: 24px 0;
}

.modal-footer {
    position       : relative;
    display        : flex;
    justify-content: center;
    padding        : 18px 0 0;
    border-top     : solid 1px #d3d3d3;
    gap            : 12px;
}

.input-container {
    margin: 0 0 12px;
}

#edit-user-form .input-container {
    margin: 0 0 12px !important;
}

.input-container label {
    font-weight: 600;
}

.input-container label:not(#create-sconce-form .input-container label):not(#edit-sconce-form .input-container label):not(#create-one-of-a-kind-form .input-container label):not(#edit-one-of-a-kind-form .input-container label):not(#create-cutout-form .input-container label):not(#edit-cutout-form .input-container label) {
    max-width: 140px;
    width    : 100%;
}

.password-eye-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    right          : 12px;
    cursor         : pointer;
}

.password-eye-container .hide-pass,
.password-eye-container .show-pass {
    width  : 24px;
    display: none;
}

.password-container input[type="password"]+.password-eye-container .show-pass,
.password-container input[type="text"]+.password-eye-container .hide-pass {
    display: block;
}

form h4 {
    margin         : 0 0 24px;
    text-decoration: underline;
}

form hr {
    border: solid 0.5px #d3d3d3;
    margin: 24px 0;
}

[data-order_type],
[data-current_status] {
    text-transform: capitalize;
}

#cart-list {
    width    : 100%;
    max-width: 800px;
}

.line-item-container {
    box-shadow   : 0 0 48px 0px #31313114;
    border       : solid 1px var(--grey-light);
    overflow     : hidden;
    margin-bottom: 48px;
}

.line-item-container hr {
    border-top: solid 1px var(--grey-light);
}

.line-item {
    display       : flex;
    flex-direction: column;
    padding       : 12px;
    gap           : 12px;
}

.line-item>div:first-child {
    display        : flex;
    justify-content: space-between;
    border-bottom  : solid 1px var(--grey-x-light);
    padding-bottom : 12px;
    align-items    : center;
}

.line-item>div:first-child>h3 {
    margin        : 0;
    font-size     : 32px;
    font-weight   : 400;
    text-transform: capitalize;
}

.line-item>div:first-child>div {
    display: flex;
    height : fit-content;
    gap    : 12px;
}

.line-item>div:first-child svg {
    width     : 18px;
    color     : var(--primary);
    transition: transform ease 0.2s;
    transform : scale(1);
    cursor    : pointer;
}

.line-item>div:first-child svg:hover {
    transform: scale(1.25);
}

.line-item>div:first-child svg.edit {
    color: var(--primary);
}

.line-item>div:first-child svg.delete {
    color: var(--red-darker);
}

.line-item>div:last-child {
    display: flex;
    gap    : 12px;
}

.line-item .img-container {
    width    : 100%;
    height   : 200px;
    max-width: 200px;
}

.line-item.cutout .img-container {
    border: solid 1px rgba(var(--secondary-rgb-vals), 0.5);
}

.line-item .img-container img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.line-item.cutout .img-container:has(img[src=""]) img {
    display: none;
}

.line-item-info {
    display       : flex;
    width         : 100%;
    flex-direction: column;
}

.line-item .line-item-info>div:first-child {
    display        : flex;
    height         : fit-content;
    width          : 100%;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 12px;
    border-bottom  : solid 1px var(--grey-x-light);
    padding-bottom : 6px;
}

.line-item.cutout .line-item-info>div:first-child h5+div,
.line-item-quantity>div {
    display    : flex;
    align-items: baseline;
    font-size  : 28px;
    font-weight: 500;
}

.line-item-quantity>div~* {
    display: none;
}

.line-item .line-item-info>div:first-child h5+div sub,
.line-item-quantity sub {
    font-size: 14px;
}

.line-item-info>div:first-child h5 {
    margin     : 0;
    font-size  : 36px;
    font-weight: 500;
}

.line-item-quantity {
    display    : flex;
    align-items: center;
    gap        : 12px;
}

.line-item-quantity>span {
    font-size  : 20px;
    font-weight: 500;
}

.line-item-quantity>input {
    width        : 40px;
    padding      : 12px;
    border       : solid 1px var(--black);
    border-radius: 12px;
}

.line-item-quantity+[data-dimensions] {
    font-size  : 14px;
    margin     : 0 0 12px;
    display    : block;
    line-height: 24px;
}


.line-item-info .bottom {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
    align-items   : flex-end;
}

.line-item-info .bottom>div {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    font-size      : 14px;
    font-weight    : 500;
    color          : var(--grey-light);
    gap            : 24px;
}

.line-item-info .bottom>div span:last-child {
    text-align: right;
}

.line-item-total {
    display        : flex;
    align-items    : center;
    padding        : 24px;
    border-top     : solid 1px var(--grey-light);
    justify-content: space-between;
    font-size      : 24px;
    font-weight    : 600;
}

.line-item-total p {
    margin: 0;
}

#view-items-btn {
    width      : max-content;
    white-space: nowrap;
    height     : 32px;
    padding    : 0 8px;
    margin     : 24px 0 auto 0;
}

#order-items-modal .modal-content {
    width: 800px;
}

.carousel {
    width        : 100%;
    height       : 300px;
    margin-bottom: 24px;
}

.carousel-cell {
    width          : 100%;
    height         : 300px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-right   : 200px;
    overflow       : hidden;
    border         : solid 2px transparent;
    transition     : border-color ease 0.3s;
}

.flickity-prev-next-button {
    padding   : 0;
    background: var(--primary);
    border    : solid 1px var(--primary);
    transition: background-color ease 0.3s;
}

.flickity-prev-next-button.next {
    right: -56px;
}

.flickity-prev-next-button.previous {
    left: -56px;
}

.flickity-prev-next-button .flickity-button-icon {
    fill           : none;
    stroke         : currentColor;
    stroke-linecap : round;
    stroke-linejoin: round;
    stroke-width   : 8;
    width          : 100%;
    height         : 100%;
    color          : var(--white);
    position       : static;
    transition     : color ease 0.3s;
}

.flickity-prev-next-button:hover .flickity-button-icon {
    color: var(--primary);
}

.flickity-button:focus {
    box-shadow: 0 0 0 5px var(--secondary);
}

.carousel-cell-btn-container {
    position      : absolute;
    top           : 6px;
    left          : 6px;
    font-size     : 12px;
    display       : flex;
    align-items   : center;
    gap           : 4px;
    transition    : opacity ease 0.3s;
    pointer-events: none;
    opacity       : 0;
}

.carousel-cell-btn-container button {
    width    : max-content;
    height   : auto;
    font-size: 12px;
}

.is-new-button {
    pointer-events  : none;
    display         : none;
    background-color: var(--white);
    border-color    : var(--secondary);
    color           : var(--secondary);
}

.carousel-cell[data-new] .is-new-button {
    display: flex;
}

.make-primary-button.is-primary {
    background-color: var(--white);
    color           : var(--primary);
    opacity         : 1;
    cursor          : default;
}

.make-primary-button::before {
    content: "make primary";
}

.make-primary-button.is-primary::before {
    content: "primary";
}

.carousel-cell:has(.make-primary-button.is-primary) {
    border-color: var(--primary);
}

.carousel-cell[data-new] {
    border-color: var(--secondary);
}

.carousel-cell:hover .carousel-cell-btn-container,
.carousel-cell:hover .remove-image-btn {
    opacity       : 1;
    pointer-events: all;
}

.flickity-page-dots .dot {
    background: #3333;
    opacity   : 1;
    outline   : solid 1px #3333;
}

.flickity-page-dots .dot.is-selected {
    background-color: var(--primary);
    outline         : solid 1px var(--primary);
}

.flickity-page-dots .dot.is-primary {
    outline: solid 1px var(--primary);
}

.flickity-page-dots .dot.is-new {
    outline: solid 1px var(--secondary);
}

.flickity-page-dots .dot.is-primary.is-new {
    border : solid 2px var(--primary);
    outline: solid 1px var(--secondary);
}

.option-btns-container {
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
    gap            : 12px;
    margin-left    : auto;
    transition     : all ease 0.5s;
    overflow       : hidden;
    width          : 0;
}

.option-btn {
    padding        : 2px;
    width          : 28px;
    color          : var(--white);
    border         : solid 2px transparent;
    border-radius  : 6px;
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: center;
    transition     : background-color ease 0.3s, border-color ease 0.3s;
}

.option-btn:hover {
    background-color: var(--white) !important;
}

.option-btn svg {
    width     : 100%;
    transition: color ease 0.3s;
}

.option-btn.toggle-options {
    background-color: var(--grey-light);
}

.option-btn.delete {
    background-color: var(--red);
}

.option-btn.restore,
.option-btn.images {
    background-color: var(--green);
}

.option-btn.reset {
    background-color: var(--blue);
}

.option-btn.toggle-options:hover {
    color       : var(--grey-light);
    border-color: var(--grey-light);
}

.option-btn.delete:hover {
    color       : var(--red);
    border-color: var(--red);
}

.option-btn.restore:hover,
.option-btn.images:hover {
    color       : var(--green);
    border-color: var(--green);
}

.option-btn.reset:hover {
    color       : var(--blue);
    border-color: var(--blue);
}

.option-btn.toggle-options svg {
    transition: all ease-in-out 0.6s;
    rotate    : 0deg;
}

.option-btn.toggle-options.active svg {
    rotate: 180deg;
}

.options-border {
    height       : 28px;
    width        : 3px;
    border-radius: 2px;
    background   : var(--grey-x-light);
}

.option-btns-container:has(+ .option-btn.toggle-options.active) {
    width: 130px;
}

.option-btn.delete:not(.restore) svg.restore,
.option-btn.delete.restore svg.delete {
    display: none;
}

.images-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap                  : 10px;
    padding              : 10px;
}

.images-grid-item {
    width              : 180px;
    height             : 180px;
    background-size    : cover;
    background-position: center;
    cursor             : grab;
    position           : relative;
    margin             : auto;
}

.images-grid-item.non-draggable {
    border         : solid 2px var(--primary);
    color          : var(--primary);
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 80px;
    cursor         : pointer;
}

.images-grid-item img {
    width     : 100%;
    height    : 100%;
    object-fit: contain;
}

.images-grid-item:not(.non-draggable):first-child::before {
    content         : "Primary";
    position        : absolute;
    top             : 6px;
    left            : 6px;
    font-size       : 12px;
    display         : flex;
    align-items     : center;
    padding         : 0 4px;
    background-color: var(--white);
    color           : var(--primary);
    opacity         : 1;
    cursor          : default;
    border          : solid 2px var(--primary);
    font-weight     : 700;
    border-radius   : 6px;
    pointer-events  : none;
}

.remove-image-btn {
    position        : absolute;
    top             : 6px;
    right           : 6px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 2px;
    width           : 24px;
    height          : 24px;
    border-radius   : 50%;
    background-color: var(--white);
    transition      : opacity ease 0.3s;
    opacity         : 0;
    pointer-events  : none;
    cursor          : pointer;
}

.images-grid-item:hover .remove-image-btn {
    opacity       : 1;
    pointer-events: all;
}

.remove-image-btn svg {
    width : 100%;
    height: 100%;
}

.swal-confirm-red {
    background-color: var(--red) !important;
    color           : var(--white) !important;
}

.swal-deny-gray {
    background-color: var(--grey-light) !important;
    color           : var(--white) !important;
}

table.dataTable>tbody>tr.deleted_item:not(:hover),
table.dataTable>tbody>tr.canceled_order:not(:hover) {
    background-color: #f000000f;
}

table.dataTable>tbody>tr.completed_order:not(:hover) {
    background-color: #39bf1330;
}

table.dataTable>tbody>tr.canceled_order td.status {
    color      : var(--red);
    font-weight: 600;
}

table.dataTable>tbody>tr.completed_order td.status {
    color      : var(--green);
    font-weight: 600;
}

.order-info-container-title {
    margin         : 0 0 24px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    cursor         : pointer;
}

.order-info-container-title h4 {
    margin: 0;
}

.order-info-container-content {
    overflow: hidden;
}

.order-info-container .toggle {
    width    : 24px;
    transform: rotate(0deg);
}

.order-info-container.hidden .order-info-container-title {
    margin: 0;
}

.order-info-container.hidden .toggle {
    transform: rotate(90deg);
}

.order-info-container.hidden .order-info-container-content {
    height: 0px;
}

.order-info-container.line-items .order-info-container-content {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 8px;
}

.order-info-container.line-items .order-info-container-content>div:nth-child(2n + 1) {
    width     : 150%;
    text-align: left;
}

.order-info-container.line-items .order-info-container-content>div:nth-child(2n) {
    width      : 50%;
    text-align : right;
    margin-left: auto;
}

.order-info-container.line-items .order-info-container-content>div:nth-last-of-type(-n+2) {
    margin-top : 12px;
    font-weight: 600;
}

#order-options-container {
    display        : flex;
    align-items    : flex-end;
    justify-content: flex-end;
    margin-top     : 12px;
    gap            : 12px;
}

.order-option {
    gap        : 8px;
    padding    : 0 6px;
    white-space: nowrap;
    height     : 38px;
    font-size  : 14px;
}

.order-option svg {
    width: 24px;
}

[data-current_status] {
    font-weight    : 800;
    font-size      : 20px;
    text-decoration: underline;
    text-transform : uppercase;
}

[data-current_status="pending"] {
    color: var(--blue);
}

[data-current_status="in process"] {
    color: var(--primary);
}

[data-current_status="completed"] {
    color: var(--green);
}

[data-current_status="canceled"] {
    color: var(--red);
}

#order-details-modal[data-status="pending"] .modal-content {
    border-color: var(--blue);
}

#order-details-modal[data-status="in process"] .modal-content {
    border-color: var(--primary);
}

#order-details-modal[data-status="completed"] .modal-content {
    border-color: var(--green);
}

#order-details-modal[data-status="canceled"] .modal-content {
    border-color: var(--red);
}

@media screen and (max-width: 1008px) {
    #dashboard-main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    #dashboard-main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 528px) {
    #dashboard-main {
        grid-template-columns: 1fr;
    }
}