:root {
    --primary           : #ED6F35;
    --primary-rgb       : rgb(237, 111, 53);
    --primary-rgb-vals  : 209, 110, 69;
    --secondary         : #2E4398;
    --secondary-rgb     : rgb(46, 67, 152);
    --secondary-rgb-vals: 46, 67, 152;
    --blue              : #3a6ed3;
    --green             : #39bf13;
    --black             : #232628;
    --white             : #f5f5f5;
    --grey-x-light      : #cdcdcd;
    --grey-light        : #888888;
    --grey-dark         : #676767;
    --red               : #ea0c0c;
    --max-width         : 1140px;
    --nav-height        : 64px;
    --primary-font      : 'Montserrat', sans-serif;
    --general-padding   : 1rem;
}

*,
*:before,
*:after {
    box-sizing : border-box;
    font-family: var(--primary-font);
}

html,
body {
    scroll-behavior: smooth;
    overflow-x     : hidden;
    max-width      : 100vw;
}

body {
    margin                 : 0;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color       : var(--grey-x-light);
}

#login-form-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

section {
    background-color: var(--white);
}

a {
    color          : var(--primary);
    text-decoration: none;
    transition     : color 0.3s;
}

a:hover {
    color: var(--secondary);
}

a:focus:not(header a) {
    color: var(--white);
}

svg {
    width : 12px;
    height: auto;
}

input {
    width        : 100%;
    height       : 40px;
    border       : none;
    border-radius: 2px;
    background   : var(--white);
    color        : var(--black);
    font-weight  : 600;
    padding      : 8px;
}

input.form-error {
    border: solid 2px red !important;
}

select {
    width        : 100%;
    height       : 40px;
    padding      : 0 8px;
    font-weight  : 500;
    border       : none;
    border-radius: 2px;
}

#not-found-container {
    position        : fixed;
    display         : flex;
    background-color: var(--primary);
    top             : 0;
    left            : 0;
    height          : 100vh;
    width           : 100vw;
    color           : var(--white);
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    padding         : 24px;
}

#not-found-container h1 {
    font-weight: bold;
    font-size  : 200px;
    margin     : 0;
}

#not-found-container h2 {
    margin   : 0;
    font-size: 48px;
}

#not-found-container p {
    font-size: 24px;
}

#not-found-container a {
    color: var(--secondary);
}

#back-link {
    cursor: pointer;
}

#nav {
    display      : flex;
    position     : fixed;
    top          : 0;
    background   : var(--white);
    width        : 100%;
    box-shadow   : 0 0 12px 0 #7171718f;
    padding      : 12px;
    height       : var(--nav-height);
    z-index      : 100;
    border-bottom: solid 1px var(--primary);
}

#nav>a {
    width: calc(var(--nav-height) - 24px);
}

#nav>a img {
    height: 100%;
    width : 100%;
}

#nav>span {
    color      : var(--primary);
    margin     : auto 0 auto 12px;
    font-weight: 700;
}

#nav>h1 {
    margin: auto;
}

#ham-btn {
    margin-left: auto;
    width      : 40px;
    cursor     : pointer;
    color      : var(--primary);
    transition : color ease 0.4s;
}

#ham-btn:hover {
    color: var(--grey-light);
}

#nav:has(>h1) #ham-btn {
    margin: 0;
}

#ham-menu {
    display                  : flex;
    flex-direction           : column;
    position                 : absolute;
    background-color         : var(--white);
    right                    : -250px;
    top                      : 48px;
    padding                  : 24px;
    gap                      : 4px;
    transition               : all ease 0.5s;
    border-bottom-left-radius: 8px;
    border                   : solid 1px var(--primary);
    border-right             : 0;
    border-top               : 0;
}

#ham-menu.viewing {
    right: 0;
}

#ham-menu li {
    list-style-type: none;
}

#ham-menu a {
    display         : flex;
    align-items     : center;
    gap             : 12px;
    padding         : 8px;
    border-radius   : 4px;
    color           : var(--primary);
    background-color: var(--white);
    transition      : color ease 0.4s, background-color ease 0.4s;
}

#ham-menu a:hover {
    color           : var(--white);
    background-color: var(--primary);
}

#ham-menu a svg {
    width: 24px;
}

#ham-menu hr {
    width        : 100%;
    border       : solid 2px var(--grey-x-light);
    border-bottom: none;
    border-radius: 2px;
}

.img-input {
    display: none;
}

.continue-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: var(--primary);
    color           : var(--white);
    border          : solid 2px var(--primary);
    font-weight     : 700;
    cursor          : pointer;
    height          : 48px;
    transition      : color 0.3s, background-color 0.3s, border-color 0.3s;
    width           : 100%;
    border-radius   : 6px;
    font-size       : 16px;
}

.continue-btn.disabled {
    background-color: var(--grey-x-light);
    border-color    : var(--grey-x-light);
    cursor          : not-allowed;
}

.continue-btn.cancel {
    background-color: var(--grey-x-light);
    color           : var(--black);
    border-color    : transparent;
}

.continue-btn.success {
    background-color: var(--green);
    border-color    : var(--green);
}

.continue-btn.danger {
    background-color: var(--red);
    border-color    : var(--red);
}

.continue-btn.other {
    background-color: var(--blue);
    border-color    : var(--blue);
}

.continue-btn:not(.disabled):not(.cancel):hover {
    background-color: var(--white);
    color           : var(--primary);
}

.continue-btn.success:hover {
    color: var(--green) !important;
}

.continue-btn.danger:hover {
    color: var(--red) !important;
}

.continue-btn.other:hover {
    color: var(--blue) !important;
}

.input-container.img-container {
    flex-direction: column;
    padding-bottom: 24px;
    border-bottom : solid 1px var(--grey-x-light);
    margin-bottom : 24px;
}

.input-container.img-container:not(:has(img)) .carousel {
    display: none;
}

.input-container.img-container:not(:has(img)) {
    height: 17vh !important;
}

.input-container.img-container:has(img) {
    height: 35vh !important;
}

.input-container.img-container:not(:has(img)) .img-preview-container::before {
    content: "Images will preview here.";
}

.img-preview-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    min-height     : 100px;
    max-width      : 400px;
    margin-bottom  : 12px;
}

.img-preview-container img {
    width     : 100%;
    object-fit: contain;
    height    : auto;
}

#drop-alert {
    position       : absolute;
    top            : -1px;
    left           : -1px;
    width          : calc(100% + 2px);
    height         : calc(100% + 2px);
    z-index        : 10;
    border         : solid 4px var(--primary);
    border-radius  : 5px;
    background     : #e4e4e4f5;
    align-items    : center;
    justify-content: center;
    font-size      : 38px;
    display        : none;
}

#drop-alert.showing {
    display: flex;
}

#login-form {
    display       : flex;
    flex-direction: column;
    width         : 500px;
    margin        : auto;
    background    : var(--white);
    border-radius : 8px;
    position      : relative;
    align-items   : center;
    min-height    : 340px;
    padding       : 32px;
    box-shadow    : 0 0 13px 0 #9b9b9b;
}

#login-form>div:first-child {
    display         : flex;
    box-shadow      : 0 0 13px 0 #9b9b9b;
    border-radius   : 50px;
    padding         : 12px;
    margin          : auto;
    position        : absolute;
    top             : -51px;
    height          : 100px;
    width           : 100px;
    background-color: var(--white);
}

#login-form>div:first-child img {
    width: 100%;
}

.mutiple-input-container {
    display: flex;
    gap    : 30px;
}

.input-container {
    display    : flex;
    align-items: center;
    gap        : 12px;
    width      : 100%;
    position   : relative;
}

.input-container * {
    margin: 0;
}

.input-container input,
.input-container textarea {
    border: solid 2px transparent;
}

.input-container textarea {
    width        : 100%;
    resize       : vertical;
    height       : 102px;
    background   : #f5f5f5;
    border-radius: 4px;
    padding      : 8px;
}

.input-container input.error {
    border-color: var(--red);
}

.input-container input:not(.error).success {
    border-color: forestgreen;
}

table .sconce-thumb-td div {
    width : 100px;
    height: 100px;
}

table .sconce-thumb-td div img,
table .portfolio-item-thumb-td div img,
table .cutout-thumb-td div img,
table .shop-item-thumb-td div img {
    object-fit     : contain;
    object-position: center;
    height         : 100%;
    width          : 100%;
    max-width      : 200px;
}

table .sconce-thumb-td,
table .portfolio-item-thumb-td,
table .cutout-thumb-td,
table .shop-item-thumb-td {
    max-width: 200px;
}

#showing_on_site {
    width: max-content;
}

span.err-msg {
    color      : var(--red);
    font-weight: 600;
}

#login-form>span.err-msg {
    margin-top: 32px;
}

#login-form>div:first-child+.input-container,
#login-form>span.err-msg+.input-container {
    margin-top: auto !important;
}

#login-form .input-container:last-of-type {
    margin: 24px 0 52px;
}

#login-form input {
    background-color: var(--grey-x-light);
}

#dashboard-container {
    min-height : 100vh;
    padding    : calc(var(--nav-height) * 2) 32px var(--nav-height);
    align-items: center;
    display    : flex;
}

#dashboard-main {
    width                : max-content;
    max-width            : 1200px;
    grid-gap             : 48px;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    margin               : auto;
}

#dashboard-main a {
    width           : 200px;
    height          : 200px;
    background-color: var(--white);
    border-radius   : 8px;
    border          : solid 1px var(--primary);
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-weight     : 600;
    font-size       : 18px;
    text-align      : center;
    box-shadow      : 0 0 0 0 #7373739c;
    flex-direction  : column;
    gap             : 8px;
    margin          : auto;
    transform       : scale(1);
    transition      :
        color ease 0.4s,
        transform ease 0.4s,
        box-shadow ease 0.4s,
        background-color ease 0.4s;
}

#dashboard-main a:hover {
    background-color: var(--primary);
    color           : var(--grey-x-light);
    box-shadow      : 0 0 12px 0 #7373739c;
    transform       : scale(1.025);
}

#dashboard-main a svg {
    width: 72px;
}

main {
    height : 100vh;
    padding: calc(var(--nav-height) * 2) 32px var(--nav-height);
}

.table-wrapper {
    background   : var(--white);
    padding      : 12px;
    border       : solid 1px var(--primary);
    border-radius: 4px;
}

.create-btn {
    width  : max-content;
    gap    : 8px;
    height : fit-content;
    padding: 8px;
}

.create-btn svg {
    width: 24px;
}

.modal {
    top            : 0;
    left           : 0;
    position       : fixed;
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    transition     : opacity ease 0.4s;
    opacity        : 0;
    pointer-events : none;
    z-index        : 100;
    overflow-y     : auto;
    padding        : 32px;
    backdrop-filter: blur(2px);
}

.modal.showing {
    opacity       : 1;
    pointer-events: all;
}

.modal-dialog {
    width : max-content;
    height: fit-content;
    margin: auto;
}

.modal-content {
    min-height   : 200px;
    min-width    : 200px;
    width        : 620px;
    border       : solid 1px var(--primary);
    border-radius: 8px;
    background   : #fff;
    color        : #000;
    box-shadow   : 0 0 21px 17px #31313124;
    padding      : 12px;
    position     : relative;
}

.modal-header {
    position       : relative;
    display        : flex;
    justify-content: center;
    padding        : 18px 0;
    border-bottom  : solid 1px #d3d3d3;
    align-items    : center;
    flex-direction : column;
}

.modal-header h1 {
    display    : flex;
    align-items: center;
    margin     : 0;
}

.modal-options {
    position       : absolute;
    right          : 0;
    top            : 0;
    line-height    : 0.5;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    font-size      : 54px;
    z-index        : 10;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    padding: 24px 0;
}

.modal-footer {
    position       : relative;
    display        : flex;
    justify-content: center;
    padding        : 18px 0 0;
    border-top     : solid 1px #d3d3d3;
    gap            : 12px;
}

.input-container {
    margin: 0 0 12px;
}

#edit-user-form .input-container {
    margin: 0 0 12px !important;
}

.input-container label {
    font-weight: 600;
}

.input-container label:not(#create-sconce-form .input-container label):not(#edit-sconce-form .input-container label):not(#create-portfolio-item-form .input-container label):not(#edit-portfolio-item-form .input-container label):not(#create-cutout-form .input-container label):not(#edit-cutout-form .input-container label) {
    max-width: 140px;
    width    : 100%;
}

.password-eye-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    right          : 12px;
    cursor         : pointer;
}

.password-eye-container .hide-pass,
.password-eye-container .show-pass {
    width  : 24px;
    display: none;
}

.password-container input[type="password"]+.password-eye-container .show-pass,
.password-container input[type="text"]+.password-eye-container .hide-pass {
    display: block;
}

form h4 {
    margin         : 0 0 24px;
    text-decoration: underline;
}

form hr {
    border: solid 0.5px #d3d3d3;
    margin: 24px 0;
}

[data-order_type],
[data-current_status] {
    text-transform: capitalize;
}

#cart-list {
    width    : 100%;
    max-width: 800px;
}

.line-item-container {
    box-shadow: 0 0 48px 0px #31313114;
    border    : solid 1px var(--grey-light);
    overflow  : hidden;
}

.line-item-container:not(:last-child) {
    margin-bottom: 48px;
}

.line-item-container hr {
    border-top: solid 1px var(--grey-light);
}

.line-item {
    display       : flex;
    flex-direction: column;
    padding       : 12px;
    gap           : 12px;
}

.line-item>div:first-child {
    display        : flex;
    justify-content: space-between;
    border-bottom  : solid 1px var(--grey-x-light);
    padding-bottom : 12px;
    align-items    : center;
}

.line-item>div:first-child>h3 {
    margin        : 0;
    font-size     : 32px;
    font-weight   : 400;
    text-transform: capitalize;
}

.line-item>div:first-child>div {
    display: flex;
    height : fit-content;
    gap    : 12px;
}

.line-item>div:first-child svg {
    width     : 18px;
    color     : var(--primary);
    transition: transform ease 0.2s;
    transform : scale(1);
    cursor    : pointer;
}

.line-item>div:first-child svg:hover {
    transform: scale(1.25);
}

.line-item>div:first-child svg.edit {
    color: var(--primary);
}

.line-item>div:first-child svg.delete {
    color: var(--red-darker);
}

.line-item>div:last-child {
    display: flex;
    gap    : 12px;
}

.line-item .img-container {
    width    : 100%;
    height   : 200px;
    max-width: 200px;
}

.line-item.cutout .img-container {
    border: solid 1px rgba(var(--secondary-rgb-vals), 0.5);
}

.line-item .img-container img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.line-item.cutout .img-container:has(img[src=""]) img {
    display: none;
}

.line-item-info {
    display       : flex;
    width         : 100%;
    flex-direction: column;
}

.line-item .line-item-info>div:first-child {
    display        : flex;
    height         : fit-content;
    width          : 100%;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 12px;
    border-bottom  : solid 1px var(--grey-x-light);
    padding-bottom : 6px;
}

.line-item.cutout .line-item-info>div:first-child h5+div,
.line-item-quantity>div {
    display    : flex;
    align-items: baseline;
    font-size  : 28px;
    font-weight: 500;
}

.line-item-quantity>div~* {
    display: none;
}

.line-item .line-item-info>div:first-child h5+div sub,
.line-item-quantity sub {
    font-size: 14px;
}

.line-item-info>div:first-child h5 {
    margin     : 0;
    font-size  : 36px;
    font-weight: 500;
}

.line-item-quantity {
    display    : flex;
    align-items: center;
    gap        : 12px;
}

.line-item-quantity>span {
    font-size  : 20px;
    font-weight: 500;
}

.line-item-quantity>input {
    width        : 40px;
    padding      : 12px;
    border       : solid 1px var(--black);
    border-radius: 12px;
}

.line-item-quantity+[data-dimensions] {
    font-size  : 14px;
    margin     : 0 0 12px;
    display    : block;
    line-height: 24px;
}


.line-item-info .bottom {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
    align-items   : flex-end;
}

.line-item-info .bottom>div {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    font-size      : 14px;
    font-weight    : 500;
    color          : var(--grey-light);
    gap            : 24px;
}

.line-item-info .bottom>div span:last-child {
    text-align: right;
}

.line-item-total {
    display        : flex;
    align-items    : center;
    padding        : 24px;
    border-top     : solid 1px var(--grey-light);
    justify-content: space-between;
    font-size      : 24px;
    font-weight    : 600;
}

.line-item-total p {
    margin: 0;
}

#view-items-btn {
    width      : max-content;
    white-space: nowrap;
    height     : 32px;
    padding    : 0 8px;
    margin     : 24px 0 auto 0;
}

#order-items-modal .modal-content {
    max-width: 800px;
    width    : 100%;
}

.carousel {
    width        : 100%;
    height       : 300px;
    margin-bottom: 24px;
}

.carousel-cell {
    width          : 100%;
    height         : 300px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-right   : 200px;
    overflow       : hidden;
    border         : solid 2px transparent;
    transition     : border-color ease 0.3s;
}

.flickity-prev-next-button {
    padding   : 0;
    background: var(--primary);
    border    : solid 1px var(--primary);
    transition: background-color ease 0.3s;
}

.flickity-prev-next-button.next {
    right: -56px;
}

.flickity-prev-next-button.previous {
    left: -56px;
}

.flickity-prev-next-button .flickity-button-icon {
    fill           : none;
    stroke         : currentColor;
    stroke-linecap : round;
    stroke-linejoin: round;
    stroke-width   : 8;
    width          : 100%;
    height         : 100%;
    color          : var(--white);
    position       : static;
    transition     : color ease 0.3s;
}

.flickity-prev-next-button:hover .flickity-button-icon {
    color: var(--primary);
}

.flickity-button:focus {
    box-shadow: 0 0 0 5px var(--secondary);
}

.carousel-cell-btn-container {
    position      : absolute;
    top           : 6px;
    left          : 6px;
    font-size     : 12px;
    display       : flex;
    align-items   : center;
    gap           : 4px;
    transition    : opacity ease 0.3s;
    pointer-events: none;
    opacity       : 0;
}

.carousel-cell-btn-container button {
    width    : max-content;
    height   : auto;
    font-size: 12px;
}

.is-new-button {
    pointer-events  : none;
    display         : none;
    background-color: var(--white);
    border-color    : var(--secondary);
    color           : var(--secondary);
}

.carousel-cell[data-new] .is-new-button {
    display: flex;
}

.make-primary-button.is-primary {
    background-color: var(--white);
    color           : var(--primary);
    opacity         : 1;
    cursor          : default;
}

.make-primary-button::before {
    content: "make primary";
}

.make-primary-button.is-primary::before {
    content: "primary";
}

.carousel-cell:has(.make-primary-button.is-primary) {
    border-color: var(--primary);
}

.carousel-cell[data-new] {
    border-color: var(--secondary);
}

.carousel-cell:hover .carousel-cell-btn-container,
.carousel-cell:hover .remove-image-btn {
    opacity       : 1;
    pointer-events: all;
}

.flickity-page-dots .dot {
    background: #3333;
    opacity   : 1;
    outline   : solid 1px #3333;
}

.flickity-page-dots .dot.is-selected {
    background-color: var(--primary);
    outline         : solid 1px var(--primary);
}

.flickity-page-dots .dot.is-primary {
    outline: solid 1px var(--primary);
}

.flickity-page-dots .dot.is-new {
    outline: solid 1px var(--secondary);
}

.flickity-page-dots .dot.is-primary.is-new {
    border : solid 2px var(--primary);
    outline: solid 1px var(--secondary);
}

.option-btns-container {
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
    gap            : 12px;
    margin-left    : auto;
    transition     : all ease 0.5s;
    overflow       : hidden;
    width          : 0;
}

.option-btn {
    padding        : 2px;
    width          : 28px;
    color          : var(--white);
    border         : solid 2px transparent;
    border-radius  : 6px;
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: center;
    transition     : background-color ease 0.3s, border-color ease 0.3s;
}

.option-btn:hover {
    background-color: var(--white) !important;
}

.option-btn svg {
    width     : 100%;
    transition: color ease 0.3s;
}

.option-btn.toggle-options {
    background-color: var(--grey-light);
}

.option-btn.delete {
    background-color: var(--red);
}

.option-btn.restore,
.option-btn.images {
    background-color: var(--green);
}

.option-btn.reset {
    background-color: var(--blue);
}

.option-btn.toggle-options:hover {
    color       : var(--grey-light);
    border-color: var(--grey-light);
}

.option-btn.delete:hover {
    color       : var(--red);
    border-color: var(--red);
}

.option-btn.restore:hover,
.option-btn.images:hover {
    color       : var(--green);
    border-color: var(--green);
}

.option-btn.reset:hover {
    color       : var(--blue);
    border-color: var(--blue);
}

.option-btn.toggle-options svg {
    transition: all ease-in-out 0.6s;
    rotate    : 0deg;
}

.option-btn.toggle-options.active svg {
    rotate: 180deg;
}

.options-border {
    height       : 28px;
    width        : 3px;
    border-radius: 2px;
    background   : var(--grey-x-light);
}

.option-btns-container:has(+ .option-btn.toggle-options.active) {
    width: 130px;
}

.option-btn.delete:not(.restore) svg.restore,
.option-btn.delete.restore svg.delete {
    display: none;
}

.images-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap                  : 10px;
    padding              : 10px;
}

.images-grid-item {
    width              : 180px;
    height             : 180px;
    background-size    : cover;
    background-position: center;
    cursor             : grab;
    position           : relative;
    margin             : auto;
}

.images-grid-item.non-draggable {
    border         : solid 2px var(--primary);
    color          : var(--primary);
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 80px;
    cursor         : pointer;
}

.images-grid-item img {
    width     : 100%;
    height    : 100%;
    object-fit: contain;
}

.images-grid-item:not(.non-draggable):first-child::before {
    content         : "Primary";
    position        : absolute;
    top             : 6px;
    left            : 6px;
    font-size       : 12px;
    display         : flex;
    align-items     : center;
    padding         : 0 4px;
    background-color: var(--white);
    color           : var(--primary);
    opacity         : 1;
    cursor          : default;
    border          : solid 2px var(--primary);
    font-weight     : 700;
    border-radius   : 6px;
    pointer-events  : none;
}

.remove-image-btn {
    position        : absolute;
    top             : 6px;
    right           : 6px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 2px;
    width           : 24px;
    height          : 24px;
    border-radius   : 50%;
    background-color: var(--white);
    transition      : opacity ease 0.3s;
    opacity         : 0;
    pointer-events  : none;
    cursor          : pointer;
}

.images-grid-item:hover .remove-image-btn {
    opacity       : 1;
    pointer-events: all;
}

.remove-image-btn svg {
    width : 100%;
    height: 100%;
}

.swal-confirm-red {
    background-color: var(--red) !important;
    color           : var(--white) !important;
}

.swal-deny-gray {
    background-color: var(--grey-light) !important;
    color           : var(--white) !important;
}

table.dataTable>tbody>tr.deleted_item:not(:hover),
table.dataTable>tbody>tr.canceled_order:not(:hover) {
    background-color: #f000000f;
}

table.dataTable>tbody>tr.completed_order:not(:hover) {
    background-color: #39bf1330;
}

table.dataTable>tbody>tr.canceled_order td.status {
    color      : var(--red);
    font-weight: 600;
}

table.dataTable>tbody>tr.completed_order td.status {
    color      : var(--green);
    font-weight: 600;
}

.collapsible-container-title {
    margin         : 0 0 24px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    cursor         : pointer;
}

.collapsible-container-title h4 {
    margin: 0;
}

.collapsible-options {
    display: flex;
    gap    : 12px;
    margin : 12px 0;
}

.collapsible-container-content {
    overflow: hidden;
}

.collapsible-container .toggle {
    width    : 24px;
    transform: rotate(0deg);
}

.collapsible-container.hidden:not(.cutouts) .collapsible-container-title,
.collapsible-container.hidden:not(.sconces) .collapsible-container-title {
    margin: 0;
}

.collapsible-container.hidden .toggle {
    transform: rotate(90deg);
}

.collapsible-container.hidden .collapsible-container-content {
    height: 0px;
}

.collapsible-container.cutouts.hidden .collapsible-container-content,
.collapsible-container.cutouts.hidden .collapsible-options,
.collapsible-container.sconces.hidden .collapsible-container-content,
.collapsible-container.sconces.hidden .collapsible-options {
    display: none;
}

.collapsible-container.line-items .collapsible-container-content {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 8px;
}

.collapsible-container.line-items .collapsible-container-content>div:nth-child(2n + 1) {
    width     : 150%;
    text-align: left;
}

.collapsible-container.line-items .collapsible-container-content>div:nth-child(2n) {
    width      : 50%;
    text-align : right;
    margin-left: auto;
}

.collapsible-container.line-items .collapsible-container-content>div:nth-last-of-type(-n+2) {
    margin-top : 12px;
    font-weight: 600;
}

.collapsible-container.cutouts .collapsible-container-content,
.collapsible-container.sconces .collapsible-container-content {
    display      : grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap          : 24px 0;
    padding      : 24px 0;
    max-height   : 500px;
    overflow     : auto;
}

.collapsible-container.cutouts img,
.collapsible-container.sconces img {
    max-width : 100px;
    max-height: 100px;
}

.sconce-cutout-container>div {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : max-content;
    margin        : auto;
    border        : solid 2px var(--grey-x-light);
    border-radius : 6px;
    overflow      : hidden;
    padding       : 8px;
    cursor        : pointer;
    transition    : all ease 0.3s;
}

.sconce-cutout-container:has(input[type="hidden"][value="1"])>div {
    border-color: var(--primary);
}

.sconce-cutout-container img {
    filter    : grayscale(100);
    opacity   : 0.5;
    transition: all ease 0.3s;
}

.sconce-cutout-container:has(input[type="hidden"][value="1"]) img {
    filter : grayscale(0);
    opacity: 1;
}

.sconce-cutout-container>div:hover {
    transform : scale(1.05);
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
}

.sconce-cutout-container>div:hover {
    box-shadow: 0 0 13px 2px rgba(var(--primary-rgb-vals), 0.2);
}

.sconce-cutout-container p {
    margin: auto;
}

.line-item.add-ons .bottom {
    border : none !important;
    margin : 0 !important;
    padding: 0 !important;
}

.line-item.add-ons .bottom>div {
    font-size: 18px;
    color    : var(--black);
}

.line-item.add-ons .bottom div div {
    font-size: inherit;
}

#order-options-container {
    display        : flex;
    align-items    : flex-end;
    justify-content: flex-end;
    margin-top     : 12px;
    gap            : 12px;
}

.order-option {
    gap        : 8px;
    padding    : 0 6px;
    white-space: nowrap;
    height     : 38px;
    font-size  : 14px;
}

.order-option svg {
    width: 24px;
}

[data-current_status] {
    font-weight    : 800;
    font-size      : 20px;
    text-decoration: underline;
    text-transform : uppercase;
}

[data-current_status="pending"] {
    color: var(--blue);
}

[data-current_status="in process"] {
    color: var(--primary);
}

[data-current_status="completed"] {
    color: var(--green);
}

[data-current_status="canceled"] {
    color: var(--red);
}

#order-details-modal[data-status="pending"] .modal-content {
    border-color: var(--blue);
}

#order-details-modal[data-status="in process"] .modal-content {
    border-color: var(--primary);
}

#order-details-modal[data-status="completed"] .modal-content {
    border-color: var(--green);
}

#order-details-modal[data-status="canceled"] .modal-content {
    border-color: var(--red);
}

#create-order-modal .modal-content {
    width    : 100%;
    max-width: 1400px;
}

.gallery {
    display        : flex;
    gap            : 24px;
    flex-wrap      : wrap;
    margin         : auto;
    justify-content: center;
    max-width      : var(--max-width);
}

.gallery:not(:empty) {
    max-width    : 1440px;
    margin-bottom: 40px;
}

.gallery:empty::before {
    content  : "Loading...";
    display  : block;
    font-size: 32px;
    color    : var(--primary);
}

.sconce-panel {
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 300px;
    height         : 420px;
    flex-direction : column;
    position       : relative;
    cursor         : pointer;
    overflow       : hidden;
    border         : solid 1px transparent;
    transform      : scale(1);
    transition     : ease all 0.2s;
    box-shadow     : 0 0 0 0 rgba(0, 0, 0, 0.2);
    border-radius  : 6px;
}

.sconce-panel:hover {
    border-color: var(--primary);
    transform   : scale(1.02);
    box-shadow  : 0 0 11px 4px rgba(0, 0, 0, 0.2);
}

.sconce-panel .counter {
    position       : absolute;
    left           : 12px;
    top            : 12px;
    background     : var(--primary);
    width          : 24px;
    height         : 24px;
    color          : var(--white);
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 50%;
    padding        : 12px;
    font-weight    : bold;
}

.sconce-panel .counter:empty {
    opacity: 0;
}

.sconce-panel .cancel {
    position       : absolute;
    right          : 12px;
    top            : 12px;
    background     : var(--white);
    width          : 24px;
    height         : 24px;
    border         : solid 1px var(--black);
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 50%;
    font-weight    : bold;
    color          : var(--black);
    transition     : ease 0.4s all;
}

.sconce-panel .cancel svg {
    width : 100%;
    height: 100%;
}

.sconce-panel .counter:empty+.cancel {
    opacity       : 0;
    pointer-events: none;
}

.sconce-panel .counter:not(:empty)+.cancel:hover {
    color           : var(--white);
    background-color: var(--black);
    border-color    : var(--white);
}

.sconce-panel img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.sconce-panel>div:last-child {
    background: var(--primary-unsaturated);
    width     : 100%;
    padding   : 12px 18px;
}

.sconce-panel>div:last-child h4 {
    margin     : 0;
    font-weight: 400;
    font-size  : 24px;
}

.sconce-panel>div:last-child>span {
    font-size: 14px;
    margin   : 4px 0 8px;
    display  : block;
}

.sconce-panel>div:last-child>div {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.sconce-panel>div:last-child>div span:first-child {
    font-size  : 22px;
    display    : flex;
    align-items: baseline;
    gap        : 4px;
}

.sconce-panel>div:last-child>div span:first-child sub {
    font-size: 12px;
}

.sconce-panel>div:last-child>div span:last-child {
    font-size: 14px;
    color    : var(--secondary);
}

.sconce-spec-pair {
    display      : flex;
    align-items  : center;
    margin-bottom: 8px;
}

.sconce-spec-pair span:first-child {
    min-width  : 150px;
    font-weight: 500;
    font-size  : 16px;
    line-height: 26px;
}

#cutout-modal .modal-content {
    width        : 100%;
    padding      : 0;
    border       : none;
    border-radius: 0;
}

#cutout-modal .modal-body {
    display: flex;
    padding: 0;
    height : 530px;
}

#cutout-selection-container {
    /* width         : 330px; */
    width         : 40%;
    display       : flex;
    flex-direction: column;
    padding       : 0;
}

#cutout-selection-container h3 {
    font-size  : 24px;
    font-weight: 400;
    line-height: 34px;
    padding    : 20px 20px 8px;
    margin     : 0;
}

#cutout-selection-container .cutout-preview-container {
    display: none;
}

#cutout-selection-container .cutout-preview-container img {
    object-fit: contain;
}

.cutout-preview-container {
    /* width: 530px; */
    width: 60%;
}

.cutout-preview-container.viewing-cutout div,
.cutout-preview-container:not(.viewing-cutout) img {
    display: none;
}

.cutout-preview-container div {
    width : 100%;
    height: 100%;
    color : white;
}

.cutout-preview-container img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

#cutout-selection-container h3,
.cutout-list {
    background: var(--grey-x-light);
}

.cutout-list {
    display       : flex;
    flex-direction: column;
    gap           : 8px;
    height        : 100%;
    max-height    : 100%;
    padding       : 0 20px 20px;
    overflow      : auto;
}

.cutout-list-item {
    height : 64px;
    display: flex;
    cursor : pointer;
}

.cutout-list-item-img-container {
    width    : 64px;
    min-width: 64px;
}

.cutout-list-item-img-container:empty {
    background-color: var(--white);
}

.cutout-list-item.selected .cutout-list-item-img-container {
    border: solid 1px var(--secondary);
}

.cutout-list-item-img-container img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.cutout-list-item-info {
    display        : flex;
    align-items    : center;
    padding        : 20px;
    justify-content: space-between;
    background     : transparent;
    width          : 100%;
    font-size      : 14px;
}

.cutout-list-item-info>div {
    display    : flex;
    align-items: baseline;
    gap        : 2px;
}

.cutout-list-item-info sub {
    font-size: 10px;
}

.cutout-list-item.selected .cutout-list-item-info,
.cutout-list-item:hover .cutout-list-item-info {
    background: rgba(var(--primary-rgb-vals), 0.2);
}

#cutout-selection-container .continue-btn {
    width  : auto;
    margin : 20px;
    padding: 16px;
}

#sconce-modal .modal-dialog,
#sconce-modal .modal-content,
#sconce-modal .modal-body {
    width: 100%;
}

#sconce-modal,
#sconce-modal .modal-content {
    border       : none;
    border-radius: 0;
}

#sconce-modal .modal-body {
    padding: 24px;
    display: flex;
    gap    : 20px;
}

#sconce-modal .modal-options,
#cutout-modal .modal-options {
    right: 24px;
    top  : 24px;
}

#sconce-modal .info-section.sconce-add-ons:empty,
#sconce-modal .info-section.img {
    display: none;
}

#sconce-modal .info-section.img .img-container {
    width : clamp(200px, 100%, 500px);
    height: clamp(300px, 40vw, 750px);
    margin: auto;
}

#sconce-modal .info-section.sconce-add-ons .input-container:first-of-type {
    margin-top: 16px;
}

#sconce-modal .info-section.sconce-add-ons .input-container input {
    width : 20px;
    height: 24px;
}

#sconce-modal .info-section.sconce-add-ons .input-container label {
    line-height: 24px;
}

#sconce-modal .info-section.sconce-add-ons .input-container label span {
    font-weight: 600;
}

.img-container {
    width : clamp(200px, 100%, 750px);
    height: clamp(200px, 40vw, 750px);
}

.img-container img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.img-preview-container img {
    object-fit: contain;
}

.info-container {
    width    : 100%;
    max-width: 750px;
}

.info-section {
    border-bottom: solid 1px var(--secondary);
    padding      : 20px 0;
    position     : relative;
}

.info-container .info-section:first-child {
    padding-top: 0;
}

.info-container .info-section:first-child h3 {
    margin     : 0 0 20px;
    font-size  : 36px;
    font-weight: 500;
}

.info-container span[data-base_price] {
    display      : flex;
    align-items  : baseline;
    margin-bottom: 12px;
    font-size    : 36px;
    font-weight  : 500;
}

.info-container span[data-base_price] span {
    margin-right: 8px;
}

.info-container span[data-base_price] sub {
    font-size: 14px;
}

.info-container .info-section p,
.info-container span[data-dimensions]:not(.sconce-spec-pair span[data-dimensions]) {
    font-size  : 14px;
    margin     : 0 0 12px;
    display    : block;
    line-height: 24px;
}

.info-container .info-section:first-child p {
    color      : #B4B4B4;
    font-weight: 500;
    line-height: 26px;
    margin     : 0;
}

.info-container .info-section h5 {
    font-size  : 24px;
    margin     : 0 0 4px;
    font-weight: 400;
    line-height: 34px;
    display    : flex;
    cursor     : pointer;
}

.info-container .info-section.collapsible.collapsed h5 {
    margin: 0;
}

.info-container .info-section.collapsible h5::before {
    margin-right: 12px;
    content     : "-";
}

.info-container .info-section.collapsible.collapsed h5::before {
    content: "+";
}

.info-container .info-section.collapsible h5~* {
    overflow: hidden;
}

.info-container .info-section.collapsible.collapsed h5~* {
    height : 0;
    margin : 0;
    padding: 0;
}

.info-container .info-section [data-cutout] {
    border         : solid 1px var(--black);
    border-radius  : 16px;
    background     : transparent;
    font-size      : 14px;
    color          : var(--black);
    display        : flex;
    align-items    : center;
    width          : 100%;
    justify-content: space-between;
    padding        : 16px;
    font-weight    : 500;
}

.info-container .info-section [data-quantity] {
    border       : solid 1px var(--black);
    width        : 90px;
    height       : unset;
    border-radius: 16px;
    font-size    : 14px;
    padding      : 16px 8px 16px 24px;
    margin-top   : 20px;
}

.info-container .info-section.final-price>div {
    display: flex;
    gap    : 16px;
}

.info-container .info-section [data-total_price] {
    width          : max-content;
    background     : rgba(var(--primary-rgb-vals), 0.1);
    border-radius  : 8px;
    font-size      : 24px;
    display        : flex;
    align-items    : baseline;
    padding        : 12px;
    min-width      : 200px;
    justify-content: center;
    height         : fit-content;
    margin-top     : 20px;
}

.info-container .info-section [data-total_price] span {
    margin-right: 4px;
}

.info-container .info-section [data-total_price] sub {
    font-size: 14px;
}

.info-container .info-section [data-total_price]+button {
    width : 100%;
    height: auto;
}

.info-container .info-section [data-total_price]+button:hover {
    border-color: var(--secondary);
    background  : var(--white);
    color       : var(--secondary);
}

.info-section.sconce-add-ons input {
    width: 20px;
}

.info-section.sconce-add-ons label {
    font-size  : 14px;
    max-width  : initial !important;
    font-weight: 400;
    line-height: 24px;
}

.info-section.sconce-add-ons label span {
    font-weight   : 600;
    text-transform: uppercase;
}

#remove-item-from-order-form,
#remove-item-from-order-form-quantity {
    display       : flex;
    flex-direction: column;
    gap           : 24px;
    padding       : 4px 0;
}

#remove-item-from-order-form .input-container,
#remove-item-from-order-form-quantity .input-container {
    text-align : left;
    align-items: flex-start;
    margin     : 0;
}

#remove-item-from-order-form .input-container label,
#remove-item-from-order-form-quantity .input-container label {
    max-width: 100% !important;
}

#remove-item-from-order-form .input-container input {
    width : 20px;
    height: 24px;
}

#remove-item-from-order-form-quantity .input-container {
    padding: 0 2px;
    gap    : 24px;
}

#remove-item-from-order-form-quantity .input-container input {
    width : 80px;
    height: 44px;
}

@media screen and (max-width: 1008px) {
    #dashboard-main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 991px) {
    #cart-list {
        max-width: unset;
    }
}

@media screen and (max-width: 840px) {
    .img-container img {
        object-fit: contain;
    }
}

@media screen and (max-width: 840px) and (min-width: 769px) {
    .cutout-list-item-info {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {

    #nav {
        box-shadow: none;
    }

    main {
        padding: var(--nav-height) 0 0;
    }

    .table-wrapper {
        border-radius: 0;
        border       : none;
        min-height   : 100%;
        padding-top  : 24px;
    }

    .modal,
    .modal-content,
    .modal-dialog {
        padding      : 0;
        border       : none;
        border-radius: 0;
        height       : 100%;
        width        : 100%;
        overflow     : auto;
    }

    .modal-options {
        top  : 12px;
        right: 12px;
    }

    .modal-header {
        text-align: center;
    }

    .modal-header,
    .modal-body,
    .modal-footer {
        padding: 12px;
    }

    #cutout-modal .modal-dialog,
    #cutout-selection-container {
        width: 100%;
    }

    #sconce-modal .modal-body>.img-container {
        display: none;
    }

    #sconce-modal .info-section.img {
        display: flex;
    }

    #cutout-selection-container {
        height: 100vh;
    }

    #cutout-modal .modal-body {
        flex-direction: column;
        height        : fit-content;
    }

    #order-details-modal .modal-body {
        padding: 12px;
    }

    #cutout-selection-container h3 {
        padding: 20px;
    }

    #cutout-selection-container .cutout-preview-container {
        display: initial;
        width  : 100%;
        height : clamp(250px, 40vw, 400px);
    }

    .cutout-list {
        display      : grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        height       : 100%;
        width        : 100%;
        padding      : 20px;
    }

    #cutout-selection-container+.cutout-preview-container {
        display: none;
    }

}

@media screen and (max-width: 760px) {
    #dashboard-main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 640px) {

    #order-options-container {
        display      : grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    #order-details-modal .mutiple-input-container {
        flex-direction: column;
        gap           : 12px;
        margin-bottom : 12px;
    }

    #order-details-modal .mutiple-input-container .input-container,
    .input-container:has([data-phone]) {
        justify-content: space-between;
        margin         : 0;
    }

    .cutout-list {
        grid-template: 1fr / 1fr;
    }

    .line-item-container {
        border-left : none;
        border-right: none;
        box-shadow  : none;
    }

    .line-item>div:last-child {
        flex-direction: column;
    }

    .line-item .img-container {
        margin: auto;
    }
}

@media screen and (max-width: 528px) {
    #dashboard-main {
        grid-template-columns: 1fr;
    }
}